

.gallery {
    gap: 0.5rem;     
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

    a {
        flex: 1 1 10em;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
}