@use "theme.scss";
@use "header.scss";
@use "footer.scss";
@use "blog.scss";
@use "fonts.scss";
@use "img.scss";

.z-code{
    overflow-x: auto;
}

body {
  background: var(--bg-0);
  color: var(--fg-1);

  font-size: 16px;
  line-height: 1.6em;
  letter-spacing: .5px;
}

.content {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 0.5em;
}

@media screen and (min-width: 978px) {
  .content {
    margin-left: 4rem;
  }
}

a {
  color: var(--fg-0);
  font-weight: bold;

  text-decoration: underline;
  text-decoration-thickness: 0.30ex;
  text-decoration-color: var(--grey-light);

  &:hover {
    text-decoration-color: var(--primary);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--fg-0);
  font-weight: bold;
  margin-top: 2em;
  line-height: 1.4em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 1rem;
}

code {
  background: var(--grey-dark);
  border-radius: 3px;
  font-family: 'Berkeley Mono';
  padding: .15rem .3rem;
}

time {
  padding-bottom: 1em;
  color: var(--fg-2);
}


figure {
  align-items: center;
  display: flex;
  flex-direction: column;
}

figure.image {
  margin: 2rem 0;
  text-align: center;
}

figure.image img {
  max-width: 80%;
  height: auto;
  border-radius: 6px;
}

figure.image figcaption {
  max-width: 80%;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: var(--fg-muted);
}


