// Call to action (core/sections/_contact.scss)
$contact--padding-t__mobile: 			48px;		// contact, top padding (mobile)
$contact--padding-b__mobile: 			48px;		// contact, bottom padding (mobile)
$contact--padding-t__desktop: 			64px;		// contact, top padding (desktop)
$contact--padding-b__desktop: 			64px;		// contact, bottom padding (desktop)
$contact-slogan--padding-v__mobile: 	40px;		// contact slogan, margin bottom (mobile)
$contact-slogan--padding-v__desktop: 	null;		// contact slogan, margin bottom (desktop)
$contact-slogan--padding-h__desktop:	48px;		// contact slogan, minimum distance between slogan and actions (only .contact-split desktop)
